<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 78px;">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/adobe-logo-nav.svg" style="top: -13px; position: relative;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <p class="navbar-text" style="font-size: 0.8em; margin-top: 20px;">OCF - DMe GTM Running the Business<br><h5 style="color: white">SUMMARY</h5></p>
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul> -->
    <div class="form-inline">
        <a class="navbar-brand" href="http://www.infosol.com/">
            <!-- <img id="InfoSolLogo" src="../../../assets/images/infosol-logo.svg"> -->
        </a>
    </div>
  </div>
</nav>